<div class="col-md-2">
  <h3>Advantages</h3>
  <div class="list-group">
    <a class="list-group-item"
      ng-repeat="description in advDis.advantages"
      ng-click="advDis.select(description)"
      ng-hide="advDis.isActive(description)"
      ng-class="{disabled: advDis.isExcluded(description)}"
    >{{description.label}}</a>
  </div>
</div>
<div class="col-md-2">
  <h3>Active</h3>
  <div class="list-group">
    <a class="list-group-item"
      ng-repeat="description in advDis.active"
      ng-click="advDis.select(description)"
    >{{description.label}}</a>
  </div>
</div>
<div class="col-md-6">
  <div ng-if="advDis.selected != null">
    <button type="button" class="btn btn-success" ng-click="advDis.addToCharacter(advDis.selected)" ng-hide="advDis.isActive(advDis.selected)">Add</button>
    <button type="button" class="btn btn-danger" ng-click="advDis.removeFromCharacter(advDis.selected)" ng-show="advDis.isActive(advDis.selected)">Remove</button>
  </div>
  <h3>Description</h3>
  <p>
    {{advDis.selected.description}}
  </p>
  <attribute path="advDis.selected.path" ng-if="advDis.isActive(advDis.selected)"></attribute>
</div>
<div class="col-md-2">
  <h3>Disadvantages</h3>
  <div class="list-group">
    <a class="list-group-item"
      ng-repeat="description in advDis.disadvantages"
      ng-click="advDis.select(description)"
      ng-hide="advDis.isActive(description)"
      ng-class="{disabled: advDis.isExcluded(description)}"
    >{{description.label}}</a>
  </div>
</div>
