<div class="col-md-2">
  <h3>Advantages</h3>
  <div class="list-group">
    <a class="list-group-item"
      ng-repeat="description in advantages.advantages"
      ng-hide="advantages.isActive(description)"
      ng-click="advantages.setSelected(description)"
    >{{description.label}}</a>
  </div>
</div>
<div class="col-md-2">
  <h3>Disadvantages</h3>
  <div class="list-group">
    <a class="list-group-item"
    ng-repeat="description in advantages.disadvantages"
    ng-hide="advantages.isActive(description)"
    ng-click="advantages.setSelected(description)"
    >{{description.label}}</a>
  </div>
</div>
<div class="col-md-4">
  <h3>{{advantages.selected.label}}</h3>
  <div ng-switch="advantages.selected.type">
    <p ng-switch-when="toggle">
      <em>Points:</em> {{advantages.selected.pointsValue}} points
    </p>
    <p ng-switch-when="scalar">
      <em>Points:</em> {{advantages.selected.pointsValue}} points/level
    </p>
    <p ng-switch-when="select">
      <em>Points:</em> varies
    </p>
    <p ng-style="{'white-space': 'pre-wrap'}">
      {{advantages.selected.description}}
    </p>
  </div>
  <div ng-if="advantages.selected != null">
    <div class="btn btn-success" ng-click="advantages.addSelected()">
      Add
    </div>
    <div class="btn btn-danger" ng-click="advantages.removeSelected()">
      Remove
    </div>
  </div>
  <div class="edit-attribute" ng-if="advantages.mutator != null">
    <attribute-edit attribute="advantages.selectedAttribute" mutator="advantages.mutator"></attribute-edit>
  </div>
</div>
<div class="col-md-4">
  <h3>Active</h3>
  <table class="table">
    <tr>
      <th> Name </th>
      <th> Value </th>
      <th> Contribution </th>
    </tr>
    <tr ng-repeat="attribute in advantages.active()" ng-click="advantages.setSelected(attribute.description)">
      <td> {{attribute.description.label}} </td>
      <td> {{attribute.value}} </td>
      <td> {{-attribute.contribution()}}</td>
    </tr>
  </table>
</div>
