<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1>Gurps Character Creator</h1>
    </div>
    <score></score>
  </div>
</nav>

<uib-tabset>
  <!-- <uib-tab heading="Primary">
    <div class="col-md-2">
      <h3>Primary stats</h3>
      <form>
        <div ng-repeat="path in main.primary" >
          <attribute path="path"/>
        </div>
      </form>
    </div>
    <div class="col-md-2">
      <h3>Derived stats</h3>
      <form>
        <div ng-repeat="path in main.derived" >
          <attribute path="path"/>
        </div>
      </form>
    </div>
    <div class="col-md-2 col-md-offset-2">
      <h3>Image and Status</h3>
      <form>
        <div ng-repeat="path in main.image_and_status" >
          <attribute path="path"/>
        </div>
      </form>
    </div>
  </uib-tab> -->
  <uib-tab heading="Advantages and Disadvantages">
    <advantages-and-disadvantages></advantages-and-disadvantages>
  </uib-tab>
  <uib-tab heading="Skills">
    <skills></skills>
  </uib-tab>
  </uib-tab>
  <uib-tab heading="Summary">
  </uib-tab>
</uib-tabset>
