body {
}

.skill-row {
  &.selected {
    border-style: solid;
  }
}

.skill-group {
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.skill-group-item {
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
}


.strength-related {
  background-color: #F2DEDE
}
.dexterity-related {
  background-color: #FCF8E3
}
.iq-related {
  background-color: #E5D9F7
}
.health-related {
  background-color: #DFF0D8
}
