data =
  primary :
    strength:
      type: "scalar"
      name:"Strength"
      label:"Strength (ST)"
      points_value: 10
      base_value: 10

    dexterity:
      type: "scalar"
      name:"Dexterity"
      label:"Dexterity (DX)"
      points_value: 20
      base_value: 10

    intelligence:
      type: "scalar"
      name:"Intelligence"
      label:"Intelligence (IQ)"
      points_value: 20
      base_value: 10

    health:
      type: "scalar"
      name:"Health"
      label:"Health (HT)"
      points_value: 10
      base_value: 10


  secondary :
    hp:
      type:"derived"
      value:"primary.strength"

    will:
      type:"derived"
      value:"primary.intelligence"

    perception:
      type:"derived"
      value:"primary.intelligence"

    fp:
      type:"derived"
      value:"secondary.hp"

    lift:
      type:"derived"
      value:"(primary.strength^2)/5"

    speed:
      type:"derived"
      value:"(primary.health + primary.dexterity)/4"


  image_and_status :
    appearance:
      name:"appearance"
      label:"Appearance"
      type:"select"
      values:
        very_beautiful:16
        beautiful:12
        attractive:4
        average:0
        unattractive:-4
        ugly:-8
        hideous:-16


    charisma :
      name:"charisma"
      label:"Charisma"
      type:"scalar"
      points_value: 5

    voice :
      name:"voice"
      label:"Voice"
      type : "toggle"
      points_value : 10

    wealth:
      name:"wealth"
      label:"Starting Wealth"
      type: "select"
      values:
        filthy_rich:50
        very_wealthy:30
        wealthy:20
        comfortable:10
        average:0
        struggling:-10
        poor:-15
        dead_broke:-25


    status :
      name:"status"
      label:"Social Status"
      type:"scalar"
      points_value: 5
      base_value: 0
      max : 8
      min : -2


  advantages :
    acute_hearing:
      name:"acute_hearing"
      label:"Acute Hearing"
      type:"scalar"
      points_value:2
    acute_taste:
      name:"acute_taste"
      label:"Acute Taste"
      type:"scalar"
      points_value:2
    acute_touch:
      name:"acute_touch"
      label:"Acute Touch"
      type:"scalar"
      points_value:2
    acute_vision:
      name:"acute_vision"
      label:"Acute Vision"
      type:"scalar"
      points_value:2
    ambidexterity:
      name:"ambidexterity"
      label:"Ambidexterity"
      type:"toggle"
      points_value:5
    animal_empathy:
      name:"animal_empathy"
      label:"Animal Empathy"
      type:"toggle"
      points_value:5
    catfall:
      name:"catfall"
      label:"Catfall"
      type:"toggle"
      points_value:10
    combat_reflexes:
      name:"combat_reflexes"
      label:"Combat Reflexes"
      type:"toggle"
      points_value:15
    danger_sense:
      name:"danger_sense"
      label:"Danger Sense"
      type:"toggle"
      points_value:15
    daredevil:
      name:"daredevil"
      label:"Daredevil"
      type:"toggle"
      points_value:15
    empathy:
      name:"empathy"
      label:"Empathy"
      type:"toggle"
      points_value:15
    enhanced_block:
      name:"enhanced_block"
      label:"Enhanced Block"
      type:"toggle"
      points_value:5
    enhanced_dodge:
      name:"enhanced_dodge"
      label:"Enhanced Dodge"
      type:"toggle"
      points_value:15
    enhanced_parry_bare_hands:
      name:"enhanced_parry_bare_hands"
      label:"Enhanced Parry - Bare Hands"
      type:"toggle"
      points_value:5
    enhanced_parry_melee_weapon:
      name:"enhanced_parry_melee_weapon"
      label:"Enhanced Parry - Melee Weapon"
      type:"toggle"
      points_value:5
    fearlessness:
      name:"fearlessness"
      label:"Fearlessness"
      type : "scalar"
      points_value:2
    flexibility:
      name:"flexibility"
      label:"Flexibility"
      type:"select"
        average:
          points_value: 0
          label: "Average"
        flexible:
          points_value:5
          label: "Flexible"
        double_jointed:
          points_value:10
          label:"Double Jointed"
    hard_to_kill:
      name:"hard_to_kill"
      label:"Hard To Kill"
      type:"scalar"
      points_value:2
    high_pain_threshold:
      name:"high_pain_threshold"
      label:"High Pain Threshold"
      type : "toggle"
      points_value:10
    luck :
      name:"luck"
      label:"Luck"
      type:"select"
      values:
        average:0
        good_luck:15
        extraordinary_luck:30
        ridiculous_luck:60
    night_vision:
      name:"night_vision"
      label:"Night Vision"
      type:"scalar"
      points_value:1
    perfect_balance:
      name:"perfect_balance"
      label:"Perfect Balance"
      type:"toggle"
      points_value:15
    resistant_to_disease:
      name:"resistant_to_disease"
      label:"Resistant to Disease"
      type:"select"
      values:
        average:
          points_value:0
          label: "Average"
        minor:
          points_value:3
          label: "Minor"
        Major:
          points_value:5
          label: "Major"
    resistant_to_poison:
      name:"resistant_to_poison"
      label:"Resistant to Poison"
      type:"toggle"
      points_value:5
