<div class="form-group">
  <label>{{scalar.description.label}}</label>
  <div class="input-group">
    <input type="text" class="form-control" ng-model="scalar.value" ng-model-options="{ getterSetter: true }" readonly>
    <span ng-click="scalar.mutator.increment()" class="btn input-group-addon"><i class="fa fa-angle-up"></i></span>
    <span ng-click="scalar.mutator.decrement()" class="btn input-group-addon"><i class="fa fa-angle-down"></i></span>
    <span class="input-group-addon">{{- scalar.attribute.contribution()}}</span>
  </div>
</div>
